@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Plants</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Plants</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: plants">
                    <li>
                        <h2><strong><span data-bind="text: Name"></span></strong></h2>
                        <ul>
                            <li><p>Description: <span data-bind="text: Description"></span></p></li>
                            <li><p>Price: <span data-bind="text: Price"></span></p></li>
                            <li><p>Days to harvest: <span data-bind="text: Harvest"></span></p></li>
                            <li><p>Space between: <span data-bind="text: Space"></span></p></li>
                            <li><p>Days between watering: <span data-bind="text: Water"></span></p></li>
                            <li><p>Days to germination: <span data-bind="text: Germination"></span></p></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <div class="col-md-4">
        <!-- TODO: Book details -->
    </div>

    <div class="col-md-4">
        <!-- TODO: Add new book -->
    </div>
</div>